{% extends 'shop/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="section-title text-center">Qui sommes-nous ?</h2>
    <br>
                
    <div class="mt-4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif , Times, serif;">
        

        <p>
            <b>SenGadget</b> est une boutique en ligne sénégalaise spécialisée dans les accessoires et gadgets technologiques<br>
             du quotidien, soigneusement sélectionnés pour leur utilité réelle, leur qualité et leur fiabilité.
        </p>

        <p>
            Nous sommes partis d’un constat simple : il est souvent difficile de trouver au Sénégal des accessoires technologiques pratiques, 
            durables et au bon prix. <br>Beaucoup de produits sur le marché sont soit de mauvaise qualité, soit trop chers, soit difficiles à obtenir rapidement.
            <br>C’est pour répondre à ce problème que <b>SenGadget</b> a vu le jour.
        </p>

        <p>
            Notre mission est claire : proposer des produits utiles, testés et approuvés, avec une livraison rapide 
            <br>partout au Sénégal et un service client réactif, à l’écoute et disponible.
        </p>

        <p>
             <b>Chez SenGadget nous ne vendons pas « tout et n’importe quoi ». </b>,<br>
            Chaque produit présent sur notre boutique est choisi pour répondre à un besoin précis du quotidien : charger plus facilement ses appareils, <br>organiser son espace, améliorer son confort, faciliter ses déplacements ou encore créer du contenu.
        </p>
       <p>
            Nous plaçons la satisfaction client au cœur de notre travail. Cela signifie : <br>
       
             - Des produits fiables<br>

             - Des descriptions honnêtes<br>

             - Des prix justes<br>

             - Une communication claire<br>

             - Un suivi sérieux des commandes<br>

             - Un service après-vente disponible en cas de besoin<br>
        </p> 

        <p>Notre objectif n’est pas seulement de vendre, mais de construire une relation de confiance durable avec nos clients.</p>

        <p><b>SenGadget</b>, c’est la technologie utile, accessible et livrée chez vous, partout au Sénégal.</p>



    </div>




    <br>
    <a href="{% url 'home' %}" class="btn btn-outline-success btn-lg">
        <i class="fas fa-arrow-left me-2"></i> Catalogue
    </a>

</div>
{% endblock %}
